body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header-box {
  height: 520px;
  position: relative;
}
.header-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 520px;
  top: 0px;
  filter: contrast(0.5);
}

.portfolio-box {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  top: 135px;
  left: 24px;
  max-width: 400px;
  color: #fff;
}
.name-box {
  margin: 0px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.big-title {
  font-size: 40px;
  margin: 0px;
}
.small-title {
  font-size: 24px;
  margin: 0px;
}
/* Profile img */
.profile-img {
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  right: 6%;
  bottom: -6%;
}
/* Navigation to the links*/
.media-app-box {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
}
.app-button {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 23px;
  text-decoration: none;
  margin: 5px;
}
.app-button:hover {
  color: #fff;
  background-color: #cc7853;
}

/* How to style the line withe the dot */
.straight-line {
  border: 1px solid #cc7853;
  width: 55px;
  display: inline-block;
  margin-bottom: 5px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #cc7853;
  border-radius: 50%;
  display: inline-block;
  margin-left: -4px;
}
/* personal text style */
.personal-section {
  background-color: #f7fbfc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 49px 24px 49px 24px;
}
.personal-information {
  font-size: 17px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
}
/* My skills end of bootcamp */
.experience-section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h2title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 27px;
  background-color: #cc7853;
  color: white;
  padding: 2px 5px;
}
.tech-skills {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}
.highlight-text {
  color: #cc9c44;
}
/* all projects*/
.project-container,
.my-thoughts,
.other-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;

  background-color: #fff;
}
.featured-projects-box {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-container {
  background-color: #fff;
}

.title-project-container {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 27px;
  background-color: #cc7853;
  color: white;
  padding: 2px 5px;
}
.project-innercontainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.code-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.project-link {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project-image {
  width: 100%;
  height: 250px;
  transition: 0.5s ease;
  object-fit: cover;
}
.project-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.564);
  transition: 0.5s ease;
}

.project-image-text {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
}
.project-image:hover {
  color: transparent;
}
.project-image-overlay:hover {
  background-color: transparent;
}
.project-title {
  color: #cc7853;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 17px;
  text-transform: uppercase;
}
.project-description {
  font-size: 17px;
  line-height: 29px;
  margin: 0px 0px 5px 0px;
  display: flex;
  align-items: center;
}
.language {
  display: flex;
  flex-wrap: wrap;
}

.language p {
  background-color: #dcc95f;
  color: white;
  font-size: 11px;
  line-height: 11px;
  margin: 0px 5px 0px 0px;
  padding: 5px;
}
.other-projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;

  background-color: #f7fbfc;
}

.other-project-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.one-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.other-code-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.fas {
  color: #cc7853;
  margin-left: 2px;
  font-size: 15px;
}
.my-skills {
  background-color: #f7fbfc;
}

.social-media-container {
  display: flex;
  justify-content: center;
}
.link-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-button-big {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #cc7853;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  border: 3px solid #cc7853;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 20px 20px 5px 20px;
}
.social-media-text {
  font-size: 12px;
  font-weight: 700;
  color: #cc7853;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color: #f7fbfc;
}
.skills-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skills {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}
.title-skills {
  font-weight: bold;
  margin: 5px;
  font-weight: 17px;
  text-transform: uppercase;
  color: #cc7853;
}
.one-skill {
  line-height: 30px;
  font-size: 17px;
  font-weight: 400;
}

.contact-info {
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin-bottom: 5px;
}

.image-thoughts {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image {
  width: 85%;
  height: 320px;
}
.for-more {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
  flex-direction: column;
  align-items: center;
}

.for-more-icons {
  display: flex;
  font-size: 25px;
  column-gap: 45px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.h5-two {
  width: 49px;
  height: 13px;
  left: 69px;
  font-size: 11px;
  line-height: 13px;
  color: #cc7853;
}

.fab {
  font-size: 61px;
}

.circle1 {
  width: 60px;
  height: 60px;
  left: 64px;
}
.circle2 {
  width: 60px;
  height: 60px;
  left: 160px;
}
.circle3 {
  width: 60px;
  height: 60px;
  left: 251px;
}

.footer {
  background-color: #cc7853;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: white;
}

@media (min-width: 768px) {
  .project-container {
    flex-direction: row;
  } /*-------DESKTOP VIEW -------*/

  .project-innercontainer {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    column-gap: 30px;
  }

  .h2title {
    font-size: 38px;
    padding: 8px;
  }
  .image {
    width: 60%;
    height: 500px;
  }
  .circle1 {
    width: 160px;
    height: 160px;
    left: 612px;
    border: 2px solid #fa382f;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .circle2 {
    width: 160px;
    height: 160px;
    left: 868px;
    border: 2px solid #fa382f;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .circle3 {
    width: 160px;
    height: 160px;
    left: 1116px;
    border: 2px solid #fa382f;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .h5-two {
    font-size: 25px;
    line-height: 41px;
    width: 110px;
    height: 41px;
    left: 641px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .image {
    width: 30%;
    height: 500px;
  }
}
